---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="relative inline-block text-left">
  <select
    id="language-select"
    class="block appearance-none w-full bg-gray-100 border border-gray-300 text-gray-700 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500 transition-all duration-300 ease-in-out"
    onchange="window.location.href = '/' + this.value + window.location.pathname.substring(3)"
  >
    <option value="en" selected={lang === 'en'}>English</option>
    <option value="de" selected={lang === 'de'}>Deutsch</option>
    <option value="hu" selected={lang === 'hu'}>Magyar</option>
  </select>
  <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
  </div>
</div>